* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
main{
	width: 960px;
	margin: 50px auto;
}
.box{
	width: 300px;
	padding: 10px;
	margin-right: 30px;
	float:left;
	position: relative; /*注意*/
	border: 1px solid #eee;
}
.box:last-child{
	margin-right: 0px;
}
.picture1{
	height: 150px;
	background-image: url(img/flow01.png);
	background-size: cover;
	background-position: bottom; /*bottomを基準に画像を表示*/
}
.picture2{
	height: 150px;
	background-image: url(img/flow02.png);
	background-size: cover;
	background-position: bottom; /*bottomを基準に画像を表示*/
}
.picture3{
	height: 150px;
	background-image: url(img/flow03.png);
	background-size: cover;
	background-position: bottom; /*bottomを基準に画像を表示*/
}
.step{
	position: absolute;
	color:white;
	background-color: orange;
	padding: 5px 2px 5px;
}
.title{
	margin: 15px 0;
}






